@import 'toolkit';

@keyframes blurFadeIn {
	0% {
        color: rgba(255,255,255,.0);
		opacity: .01;
		//text-shadow: 0px 0px 61px $primary-color;
		transform: scale(1.3);
	}
	100% {
        color: $primary-color;
		opacity: .99;
		//text-shadow: 0px 0px 1px rgba(255,255,255,0);
		transform: scale(1);
	}
}
@keyframes fadeIn {
	0% {
        opacity: .01;
	}
	100% {
		opacity: .99;
	}
}

@keyframes fadeInLogo {
	0% {
        opacity: .01;
	}
	100% {
		opacity: .5;
	}
}

@keyframes fadeInLeft3d {
	from {
		opacity: .01;
		transform: rotate3d(0,0,0,0) rotate(0deg);
	}

	to {
		opacity: .99;
		transform: $transform-3d-left;
	}
}
.fadeInLeft3d {
	animation-name: fadeInLeft3d;
	animation-fill-mode: forwards;
}

@keyframes fadeInRight3d {
	from {
		opacity: .01;
		transform: rotate3d(0,0,0,0) rotate(0deg);
	}

	to {
		opacity: .99;
		transform: $transform-3d-right;
	}
}
.fadeInRight3d {
	animation-name: fadeInRight3d;
	animation-fill-mode: forwards;
}

@keyframes fadeInRight3dBox {
	from {
		opacity: .01;
		transform: perspective(0) rotateY(0) rotateX(0) rotate(0);
	}

	to {
		opacity: .99;
		transform: $transform-3d-right-box;
	}
}
.fadeInRight3dBox {
	animation-name: fadeInRight3dBox;
	animation-fill-mode: forwards;
}

@keyframes fadeInScrollText {
	from {
		opacity: .01;
		transform: rotate(-90deg);
	}

	to {
		opacity: .99;
		transform: rotate(-90deg);
	}
}
.fadeInScrollText {
	animation-name: fadeInScrollText;
	animation-fill-mode: forwards;
}

.banner h1,
.home-banner h1 {
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    opacity: .01;
	animation: blurFadeIn .5s .2s $ease-in forwards;
}
.banner h2,
.home-banner h2 {
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
	opacity: .01;
	animation: fadeIn 1s .8s $ease-in forwards;
}
.banner h4,
.home-banner p {
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    opacity: .01;
	animation: fadeIn 1s 1.2s $ease-in forwards;
}