@import 'toolkit';

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-top: 3px solid tint($primary-color, 20%);
    transition: .25s $ease-in;
    background: transparent;
    box-shadow: none;
    will-change: background-color, box-shadow;

    @include md {
        border-top: 3px solid $primary-color;
        background: transparent;
        box-shadow: none;
        padding: 0 1rem;
    }

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: $primary-color;
        font-family: $font-family2;
        transition: all .25s $ease-in;

        &:hover,
        &:focus {
            color: shade($primary-color, 20%);
            text-decoration: none !important;
        }

        &.active {
            transform: scale(1.2);
        }
    }
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    @include xl {
        justify-content: flex-start;
    }

    a {
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;

        @include sm {
            margin: 0 .4rem;
            font-size: .75rem;
        }

        @include lg {
            font-size: .9rem;
        }

        @include xl {
            margin: 0 1rem;
            font-size: 1rem;
        }
    }

    svg {
        font-size: 1.25rem;

        @include md  {
            display: none;
        }
    }

    // Hide nav text on mobile.
    span.text-wrap {
        display: none;
        // Show nav text on desktop.
        @include lg {
            display: block;
        }
    }

    // Hide about and contact links on mobile.W
    span:nth-of-type(1),
    span:nth-of-type(4) {
        display: none;
        @include md {
            display: inline;
        }
    }
}

.navbar-center .navbar-initials {
    color: rgba(255,255,255,.9);
    font-size: 1.75rem;
    font-weight: 900;
    letter-spacing: -.1rem;
    box-shadow: $shadow2;
    background: $primary-color;
    padding: .1rem .3rem;
    border-radius: 0 0 5px 5px;
    margin: -3px 1rem 0;
    position: relative;
    top: 3px;
    will-change: font-size;

    &:hover,
    &:focus {
        color: #fff;
    }

    @include md {
        font-size: 2rem;
    }
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    @include md {
        justify-content: flex-end;
    }

    a {
        font-size: 1.25rem;

        @include md {
            margin: 0 1rem;
        }
    }

    .external-links {
        display: none;

        @include md {
            display: flex;
        }
    }

    .text-wrap {
        display: none;
    }

    .internal-links {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        @include md {
            display: none;
        }
    }
}

// Styles for solid navbar when scrolled
.navbar-solid {
    background: shade($primary-color, 20%);
    box-shadow: $shadow1;

    a,
    a:visited {
        color: rgba(255,255,255,.75);

        &:hover,
        &:focus {
            color: rgba(255,255,255,.95);
        }
    }

    &.navbar {
        border-top-color: tint($primary-color, 20%);
    }

    .navbar-initials {
        font-size: 1.25rem;
        //transform: scale(.8);
        background: tint($primary-color, 20%);
    }
}