@import 'toolkit';

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background: shade($primary-color, 20%);
    transition: .25s $ease-in;
    @include md {
        bottom: auto;
        border-top: 3px solid $primary-color;
        background: transparent;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgba(255,255,255,.75);
        font-family: $font-family2;
        transition: color .25s $ease-in;
        
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: rgba(255,255,255,.95);
            text-decoration: none !important;                 
        }
        @include md {
            
        }
    }
    @include md {
        a {
            color: $primary-color;
            &:hover,
            &:focus {
                color: shade($primary-color, 20%);
            }
        }
    }
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    @include md {
        justify-content: flex-start;
    }

    a {
        font-size: 1.25rem;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;

        @include md {
            font-size: 1rem;
            margin-right: 1rem;
        }
    }

    // Hide nav text on mobile.
    span.text-wrap {
        display: none;

        // Show nav text on desktop.
        @include md {
            display: block;
        }
    }

    // Hide icons on desktop.
    @include md {
        svg {
            display: none;
        }
    }
}

.navbar-initials {
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -.1rem;
    box-shadow: $shadow2;
    background: tint($primary-color, 15%);
    padding: .1rem .3rem;
    border-radius: 0 0 5px 5px;
    margin: 0 1rem;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    @include md {
        justify-content: flex-end;
    }

    a {
        font-size: 1.25rem;

        @include md {
            margin-left: 1rem;
        }
    }
}

// Styles for solid navbar when scrolled
.navbar-solid {
    background: shade($primary-color, 20%);

    a {
        color: rgba(255,255,255,.75);

        &:hover,
        &:focus {
            color: rgba(255,255,255,.95);
        }
    }
}