@import 'toolkit';

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    flex: 1;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}