  ///////////////////////////////
 // color tint/shade function //
///////////////////////////////

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


  ///////////////////////
 // breakpoints mixin //
///////////////////////

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}
// Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}


  ///////////////////////
 // Variables //////////
///////////////////////

// Colors
$primary-color:    #3d4676;
$secondary-color:  #e85b6f;
$tertiary-color:   shade($primary-color, 20%);
$header-color:      $tertiary-color;
$text-color:       #7F7B91;

// Fonts
$font-family1: 'Open Sans', sans-serif;
$font-family2: 'Raleway', sans-serif;

// Cubic-bezier easing variables.
$ease:     cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-in:  cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-out: cubic-bezier(0.4, 0.0, 1, 1);

// Shadows
$shadow1: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
$shadow2: -2px 8px 22px 0 rgba(0, 0, 0, 0.15);
$shadow3: 0 5px 15px rgba(0,0,0,.1),
          0 15px 35px rgba(0,0,0,.1),
          0 50px 100px rgba(50,50,93,.1);
$shadow-3d-left: 1px 1px 5px 0 rgba(26,26,67,.05),
                 39px 62.5px 125px -25px rgba(50,50,93,.5), 
                 23.4px 37.5px 75px -37.5px rgba(0,0,0,.6);
