h1,h2,h3,h4,h5,h6 {
    font-family: $font-family2;
    color: $header-color;
}

.box {
    background: #f5f5f5;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: auto;
    min-height: 100px;
    display: block;
    box-shadow: 1px 1px 5px 0 rgba(26,26,67,.05),
                39px 62.5px 125px -25px rgba(50,50,93,.5), 
                23.4px 37.5px 75px -37.5px rgba(0,0,0,.6);
}

.make3d {
    transform: scale(1.3)
               translateX(50px)
               translateY(0)
               perspective(3190px)
               rotateY(-29deg)
               rotateX(4deg)
               rotate(1deg);
}


.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	max-width: 100%;
	width: 100%;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	padding: 0.8em;
	width: 60%;
	border: none;
	background: shade($secondary-color, 20%);
	color: rgba(255,255,255,.9);
	font-weight: 400;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	padding: 0 1em;
	color: rgba(0,0,0,.4);
	font-weight: bold;
    font-size: .75rem;
    border-radius: 4px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

////////

.input--manami {
    display: flex;
    overflow: hidden;
    padding-top: 1.25rem;
}

.input__field--manami {
    width: 100%;
    height: 2rem;
	background: transparent;
    padding-top: .5em;
	color: rgba(255,255,255,.85);
	z-index: 100;
	opacity: 0;
}

.input__label--manami {
    width: 100%;
    height: 2rem;
	position: absolute;
	text-align: left;
    padding-top: .5em;
    background: rgba(0,0,0,.05);
	pointer-events: none;
    font-size: 1em;
    box-shadow: inset 0 1px rgba(0,0,0,.1), inset 0 -1px rgba(255,255,255,.95);
}

.input__label--manami::before,
.input__label--manami::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}

.input__label--manami::before {
	height: 100%;
    background: rgba(0,0,0,.15);
    border-radius: 4px;
	top: 0;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
	transition: transform 0.2s $ease-in, opacity 0.2s $ease-in;
}

.input__field--manami:focus + .input__label--manami::before,
.input--filled .input__label--manami::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: $ease-out;
}

.input__label--manami::after {
	height: 1px;
	background: rgba(255,255,255,.9);
	top: 100%;
	transition: opacity 0.2s $ease-in;
}

.input__field--manami:focus + .input__label--manami::after,
.input--filled .input__label--manami::after {
    //background: rgba(0,0,0,.2);
}

.input__label-content--manami {
    font-family: $font-family2;
    color: rgba(0,0,0,.25);
	padding: 0;
	transform-origin: 0 0;
	transition: transform 0.2s $ease-in, opacity 0.2s $ease-in;
}

.input__field--manami:focus,
.input--filled .input__field--manami {
	opacity: 1;
	transition: opacity 0s 0.2s $ease-in;
}


.input__field--manami:focus + .input__label--manami .input__label-content--manami,
.input--filled .input__label--manami .input__label-content--manami {
	color: rgba(0,0,0,.75);
    transform: translate3d(-.5rem, -1.2rem, 0) scale3d(0.65, 0.65, 1);
}

.input--manami textarea {
    min-height: 150px;

    & + label {
        min-height: 150px;  
    }
}

