@import 'toolkit';

.work section.project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    padding: 2.5rem 1rem;
    margin: 0 -.4rem;


    @include lg {
        padding: 5rem 1rem 5rem;
        flex-direction: row;
    }

    > * {
        flex: 1;
    }

    article {
        max-width: 800px;
        text-align: center;

        @include lg {
            max-width: 500px;
            text-align: left;
        }
    }

    h2 {
        color: rgba(255,255,255,1);
        font-weight: bold;
        font-size: 2.5em;
        margin-bottom: 0;
    }

    h3 {
        color: rgba(255,255,255,.55);
        font-weight: normal;
    }

    h4 {
        color: rgba(255, 255, 255, 0.6);
        font-weight: bold;
        font-size: .75rem;
        text-transform: uppercase;
    }

    p {
        color: rgba(255,255,255,.75);
    }

    a:not(.btn) {
        color: lighten($primary-color, 35%);
        font-weight: bold;

        &:hover,
        &:focus {
            color: #fff;
        }
    }

    .device-wrap h4 {
        transform: rotate(0);
        top: -25px;
        order: 1;

        @include lg {
            opacity: .01;
            //transform: rotate(-90deg);
            position: absolute;
            left: -125px;
            top: 50%;
        }
    }

    .device-wrap svg {
        color: tint($primary-color, 20%);
        transform: rotate(-90deg);

        @include lg {
            transform: rotate(-13deg);
        }
    }

    &:nth-child(even) {
        background: #333542;
    }

    &:nth-child(odd) {
        background: $primary-color;

        figure {
            @include lg {
                order: 2;
            }
        }

        h4 {
            left: auto;
            right: auto;

            @include lg {
                right: -125px;
            }
        }

        .device {
            margin-left: auto;
        }

        .btn {
            background: #333542;

            &:hover,
            &:focus {
                background: shade(#333542, 15%);
            }
        }
    }
}