@import 'toolkit';


.initials {
    color: rgba(255,255,255,.95);
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: -.1rem;
    box-shadow: $shadow2;
    background: $primary-color;
    padding: .1rem .3rem;
    border-radius: 0 0 5px 5px;
    //transform: skew(-13deg) translate3d(-6px,-2px,0) scale(1.1);
}
