@import 'toolkit';

.homeHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    @include sm {
        flex-direction: row;
        margin: 0 10%;
    }
}

.myTitle {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myName {
    font-size: 13vw;
    line-height: .75;
    font-weight: 900;
    letter-spacing: -1.5px;
    margin-bottom: 0;

    @include sm {
        font-size: 66px;
    }
}

.mySkills {
    font-size: 5.5vw;
    font-weight: 300;

    @include md {
        font-size: 27px;
    }
}

.myBox {
    background: tint($primary-color, 97%);
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 90%;
    display: block;
    box-shadow: $shadow3;
    transform: none;

    @include sm {
        flex: 1 0 50%;
        box-shadow: $shadow-3d-right;
        transform: translateX(50px)
                   perspective(3190px)
                   rotateY(-29deg)
                   rotateX(4deg)
                   rotate(1deg);
    }
}


