@import 'toolkit';

.homeHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    @include sm {
        flex-direction: row;
        margin: 0 10%;
    }

    > * {
        flex: 1 0 50%;
    }
}

.myTitle {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myName {
    font-size: 13vw;
    line-height: .75;
    font-weight: 900;
    letter-spacing: -1.5px;
    margin-bottom: 0;

    @include sm {
        font-size: 66px;
    }
}

.mySkills {
    font-size: 5.5vw;
    font-weight: 300;

    @include md {
        font-size: 27px;
    }
}


